<!DOCTYPE html>
<html lang="en" ng-app="MyMod">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ng-hide</title>
    <script src="angular.min.js"> </script>
    <script src="8&9_module.js"> </script>
</head>
<body ng-controller="mycontroller">
    <input type="checkbox" value="check!!" ng-model="checkh"> check
    <div ng-hide="checkh">
        <h1>This is ng-hide.</h1>
        <h3> Welcome IT-A.</h3>
    </div>
    <hr> 

    <input type="checkbox" value="check!" ng-model="check"> Hide-Salary
    <table border="1">
        <tr>
            <th> Name </th>
            <th> Salary </th>
        </tr>
        <tr ng-repeat="emp in employee">
            <td> {{emp.name}} </td>
            <td ng-hide="check"> {{emp.salary}} </td>
            <td ng-show="check"> ***** </td>
        </tr>
    </table>
</body>
</html>